<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ statement.name }}</title>
</head>
<body>
    <h1>{{ statement.name}}</h1>
    <p>формат ввода {{ statement.inputFile }}</p>
    <p>формат вывода {{ statement.outputFile }}</p>
    <p>ограничение по времени на тест: {{ statement.timeLimit }} мс</p>
    <p>ограничение по памяти на тест: {{ statement.memoryLimit }} мб</p>
    <p>{{ statement.legend }}</p>
    <b>Входные данные</b>
    <p>{{ statement.input }}</p>
    <b>Выходные данные</b>
    <p>{{ statement.output }}</p>
    <b>Примечание</b>
    <p>{{ statement.notes }}</p>
</body>
</html>