<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ statement.name }}</title>
</head>
<body>
    <h1>{{ statement.name}}</h1>
    <p>формат ввода {{ statement.input_file }}</p>
    <p>формат вывода {{ statement.output_file }}</p>
    <p>ограничение по времени на тест: {{ statement.time_limit }} мс</p>
    <p>ограничение по памяти на тест: {{ statement.memory_limit }} мб</p>
    <p>{{ statement.legend }}</p>
    <b>Входные данные</b>
    <p>{{ statement.input }}</p>
    <b>Выходные данные</b>
    <p>{{ statement.output }}</p>
    {% for i in samples %}
        <p>{{ i.input }}</p>
    {% endfor %}
    {% for i in samples %}
        <p>{{ i.output }}</p>
    {% endfor %}
    <b>Примечание</b>
    <p>{{ statement.notes }}</p>
</body>
</html>